In [ ]:
# Importing usefull libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
austria_df = pd.read_csv(f'../data/Processed/time_series_processed_1.csv')

### Generating more features for better analysis
1. t-1 gives short-term momentum.
2. t-24 captures daily cycles.

In [8]:
# Refrence https://medium.com/data-science-at-microsoft/introduction-to-feature-engineering-for-time-series-forecasting-620aa55fcab0

In [6]:
austria_df['load_t-1'] = austria_df['load_actual'].shift(1)     # 1 hour ago
austria_df['load_t-24'] = austria_df['load_actual'].shift(24)   # 24 hours ago

# Optional: Add rolling average
austria_df['load_rolling_24h'] = austria_df['load_actual'].rolling(window=24).mean()

In [7]:
austria_df.fillna(method='ffill', inplace=True)
austria_df.fillna(method='bfill', inplace=True)
austria_df.head()

C:\Users\rande\AppData\Local\Temp\ipykernel_10736\1861709718.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  austria_df.fillna(method='ffill', inplace=True)
C:\Users\rande\AppData\Local\Temp\ipykernel_10736\1861709718.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  austria_df.fillna(method='bfill', inplace=True)

,utc_timestamp,load_actual,load_forecast,price,solar_generation,Wind_generation,Weekday,Hour,Month,load_t-1,load_t-24,load_rolling_24h
0,2015-02-01 00:00:00+00:00,6241.0,6186.0,25.0,0.0,131.0,Sunday,0,February,6241.0,6241.0,6967.625
1,2015-02-01 01:00:00+00:00,6126.0,6111.0,24.0,0.0,119.0,Sunday,1,February,6241.0,6241.0,6967.625
2,2015-02-01 02:00:00+00:00,5983.0,6019.0,24.0,0.0,89.0,Sunday,2,February,6126.0,6241.0,6967.625
3,2015-02-01 03:00:00+00:00,5966.0,6027.0,24.0,0.0,56.0,Sunday,3,February,5983.0,6241.0,6967.625
4,2015-02-01 04:00:00+00:00,6004.0,6247.0,24.0,0.0,56.0,Sunday,4,February,5966.0,6241.0,6967.625